*{
    margin: 0;
    padding: 0;

}
body{
    font-family: sans-serif;
}
.container-change-pass {
    position: relative;
}
.container-change-pass .bg-login-cover {
    position: relative;
}
.container-change-pass .login-form-primary {
    position: absolute;
    top: 10%;
    right: 20%;
}
.container-change-pass .login-form-primary .login-form-user-img {
    text-align: center;
    margin-bottom: 20px;
}
.container-change-pass .login-form-primary .login-form-user-img img {
    width: 100px;
    max-width: 100%;
}
.container-change-pass .login-form-primary .login-form-user-img h1 {
    color: #373535;
}
.container-change-pass .login-form-primary .input-login-primary {
    position: relative;
}
.container-change-pass .login-form-primary .input-login-primary .user-login-icon {
    position: absolute;
    top:11.5px;
    left: 5px;
    color: #e3e3e3;
}
.container-change-pass .login-form-primary .input-login-primary .icon-show-pass-login {
    position: absolute;
    top: 14.5px;
    right: 5px;
    color: #e3e3e3;
}
.container-change-pass .login-form-primary .input-login-primary input{
    border-bottom: 3px solid #e3e3e3;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent!important;
    padding: 15px 0;
    padding-left: 10%;
    max-width: 100%;
    margin-bottom: 20px;
    width: 90%;
}
.container-change-pass .forgot-pass-login {
    text-align: end;
}
.container-change-pass .forgot-pass-login a {
    color: #a8a4a4;
    text-decoration: none;
}
.container-change-pass .forgot-pass-login a:hover {
    color: #373535;
    cursor: pointer;
    text-decoration: underline;
}
.container-change-pass .login-submit-btn-primary button {
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #39b5e9;
    border: none;
    margin: 20px 0;
    color: #fff;
}
.container-change-pass .login-submit-btn-primary button:hover {
    cursor: pointer;
    background-color: #4cc6f7;
    color: #373535;
    transition: all .2s;
}