/* BANNER-TOP */
.banner {
  margin-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 160px 160px;
  gap: 15px;
}
.banner-box {
  position: relative;
  padding: 30px;
  border-radius: 20px;
}
.banner-box .link {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.banner-box .link:hover {
  color: #08cbf1;
}
.banner-main .carousel-indicators li {
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.banner-main .carousel-indicators .active {
  width: 35px;
  transition: all 0.3s ease;
  background-color: #fff;
}
.banner-main img {
  height: auto;
  width: 100%;
}
.banner-main .carousel-item.active img {
  animation: 0.4s ease-out 0s 1 normal forwards running fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-main .carousel-item .carousel-caption.content-slide-banner-primary h3 {
  margin-left: -1000px;
}
.banner-main
  .carousel-item.active
  .carousel-caption.content-slide-banner-primary
  h3 {
  animation: 1s ease-out 0s 1 normal forwards running swing;
}
.banner-main .carousel-item .carousel-caption.content-slide-banner-primary p {
  margin-left: -1000px;
}
.banner-main
  .carousel-item.active
  .carousel-caption.content-slide-banner-primary
  p {
  animation: 1.2s ease-out 0s 1 normal forwards running swing;
}
.banner-main
  .carousel-item
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary {
  margin-left: -1000px;
}
.banner-main
  .carousel-item.active
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary {
  animation: 1.4s ease-out 0s 1 normal forwards running swing;
}
@keyframes swing {
  100% {
    margin-left: 0;
  }
}
.banner-main .carousel-caption.content-slide-banner-primary {
  left: 30px;
  top: 20px;
  text-align: left;
}
.banner-main .carousel-caption.content-slide-banner-primary h3 a {
  color: #fff;
  font-size: 40px;
}
.banner-main .carousel-caption.content-slide-banner-primary p {
  font-size: 20px;
  display: block;
  margin-bottom: 50px;
  margin-top: 20px;
}
.banner-main
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary {
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 15px 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.banner-main
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
.banner-main
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
.banner-main
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary:hover:before {
  background-color: rgba(255, 255, 255, 0.15);
  width: 0;
}
.banner-main
  .carousel-caption.content-slide-banner-primary
  .submit-banner-btn-primary:hover:after {
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
}
.banner-box-child {
  position: relative;
  cursor: pointer;
}
.banner-box-child img {
  position: relative;
  max-width: 100%;
  width: 100%;
  animation: 0.4s ease-out 0s 1 normal forwards running fadeIn;
}
.banner-box-child img.style-img-fixed {
  /* height: 155px; */
  border-radius: 13px;
}
.banner-box-child .banner-box-child-absolute {
  position: absolute;
  top: 10px;
  left: 40px;
}
.banner-box-child .banner-box-child-absolute h3 a {
  font-size: 18px;
  color: #fff;
}
.banner-box-child .banner-box-child-absolute p {
  color: #fff;
}
.banner-box-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
.banner-box-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
.banner-box-child:hover:after {
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
}
.banner-box-child:hover:before {
  width: 0;
  background-color: rgba(255, 255, 255, 0.15);
}
/* END BANNER-TOP */
/* BANNER-MIDDLE */

.banner-middle-content .link {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.banner-middle-content .desc {
  margin-top: 20px;
  color: #fff;
}
.banner-middle {
}

#slider-banner-middle .mySlides {
  list-style-type: none;
  position: relative;
}
#slider-banner-middle .mySlides img {
  position: relative;
  width: 100%;
}
#slider-banner-middle .mySlides .mySlides-child {
  position: absolute;
  top: 10px;
  left: 40px;
}

#slider-banner-middle .mySlides:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
#slider-banner-middle .mySlides:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  z-index: 2;
}
#slider-banner-middle .mySlides:hover:after {
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
}
#slider-banner-middle .mySlides:hover:before {
  background-color: rgba(255, 255, 255, 0.15);
  width: 0;
}
/* END BANNER-MIDDLE */

/*for responsive*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-main .carousel-caption.content-slide-banner-primary {
    top: 0;
  }
  .banner-main .carousel-caption.content-slide-banner-primary h3 a {
    font-size: 26px;
  }
  .banner-main .carousel-caption.content-slide-banner-primary p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .banner-main
    .carousel-caption.content-slide-banner-primary
    .submit-banner-btn-primary {
    font-size: 10px;
  }
  .banner-child-responsive .banner-box-child .banner-box-child-absolute h3 {
    font-size: 18px;
  }
  .banner-child-responsive .banner-box-child .banner-box-child-absolute p {
    font-size: 14px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  #slider-banner-middle .mySlides.mySlides-3 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .banner-child-responsive {
    display: none;
  }
  #slider-banner-middle .mySlides.mySlides-2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .banner-main .carousel-caption.content-slide-banner-primary {
    top: 5px;
    display: block !important;
  }
  .banner-main .carousel-caption.content-slide-banner-primary h3 a {
    font-size: 28px;
  }
  .banner-main .carousel-caption.content-slide-banner-primary p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .banner-main
    .carousel-caption.content-slide-banner-primary
    .submit-banner-btn-primary {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .banner-main .carousel-caption.content-slide-banner-primary {
    top: 0;
  }
  .banner-main .carousel-caption.content-slide-banner-primary h3 a {
    font-size: 22px;
  }
  .banner-main .carousel-caption.content-slide-banner-primary p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .banner-main
    .carousel-caption.content-slide-banner-primary
    .submit-banner-btn-primary {
    font-size: 10px;
    padding: 10px 25px;
  }
}
